<nav class="navbar sticky-top navbar-side-replacer-lg navbar-dark bg-dark-alpha-low">
  <a class="navbar-brand" href="{{ "/" | relative_url }}">
    <img class="img-fluid" src="https://equilaterus.github.io/wikilaterus/assets/img/logo-windmill-alpha-sm.png" alt="logo equilaterus"> <span>wikilaterus</span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sideNavbar" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>

<nav class="navbar  navbar-side navbar-side-left navbar-side-expand-lg navbar-dark bg-dark-alpha-med collapse" id="sideNavbar">
  
  <a class="navbar-brand d-none d-lg-flex d-xl-flex bg-shadow-hi" href="{{ "/" | relative_url }}">
    <img class="img-fluid" src="https://equilaterus.github.io/wikilaterus/assets/img/logo-windmill-alpha-sm.png" alt="logo equilaterus"> <span>wikilaterus</span>
  </a>

  <ul class="navbar-nav">
    {% assign htmlContent = "" %}
    {% assign htmlCategory = "" %}
    {% assign prevCategory = "" %}
    {% for p in site.pages %}
      {% if p.menu == "wiki" and p.title != "Home" %}
        {% assign splitted = p.title | split: " " %}
        {% assign category = splitted[0] %}
        {% assign title = p.title | remove_first: "category"  %}

        {% comment %} Generate button for the article {% endcomment %}
        {% assign destinationUrl = p.url | prepend: site.baseurl %}
        {% assign htmlCategory = htmlCategory | append: '<a class="dropdown-item" href="' | append: destinationUrl | append: '" data-wiki-url="' | append: p.url | append: '">' | append: p.title | append: '</a>' %}
        
        {% comment %} Next category ? {% endcomment %}
        {% if prevCategory != category or forloop.last %}
          {% assign htmlCategoryButton =  '<a class="nav-link dropdown-toggle" href="#' | append: category | append: '" id="' | append: category | append: 'Submenu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">' | append: category | append: '</a>' %}
          {% assign htmlCategoryMenu = '' | append: '<div class="dropdown-menu" aria-labelledby="' | append: category | append: 'Submenu">' | append: htmlCategory | append: '</div>' %}

          {% assign htmlContent =  htmlContent | append: '<li class="nav-item dropdown">' | append: htmlCategoryButton | append: htmlCategoryMenu | append: '</li>' %}
          {% assign htmlCategory = "" %}
        {% endif %}
        {% assign prevCategory = category %}
      {% endif %}
    {% endfor %}

    {{ htmlContent }}
  </ul>

  <div class="footer-content navbar-nav bg-shadow-low">
    <a class="nav-link" href="https://equilaterus.github.io/" target="_blank">equilaterus 2019</a>
  </div>
</nav>

<div class="background">
  <div class="background-content" style="background-image: url(https://images.unsplash.com/photo-1446776877081-d282a0f896e2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a34debf85fb97a6cf279d0b5f661bb1e&auto=format&fit=crop&w=1352&q=80);"></div>
</div>