<nav class="navbar sticky-top navbar-left-replacer-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{{ "/" | relative_url }}">
    <img class="img-fluid" src="https://equilaterus.github.io/wikilaterus/assets/img/logo-windmill-alpha-sm.png" alt="logo equilaterus"> <span>wikilaterus</span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#leftNavbar" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>

<nav class="navbar navbar-left navbar-left-expand-lg navbar-dark bg-dark collapse" id="leftNavbar">
  <div class="logo-container">
  </div>

  <a class="navbar-brand d-none d-lg-flex d-xl-flex" href="{{ "/" | relative_url }}">
    <img class="img-fluid" src="https://equilaterus.github.io/wikilaterus/assets/img/logo-windmill-alpha-sm.png" alt="logo equilaterus"> <span>wikilaterus</span>
  </a>

  <ul class="navbar-nav">
    {% for p in site.pages %}
        {% if p.menu == "wiki" and p.title != "Home" %}
        <li><a class="nav-link" href="{{ p.url | prepend: site.baseurl }}">{{ p.title }}</a></li>
        {% endif %}
    {% endfor %}
  </ul>

  <div class="footer-content">
    <a class="nav-link" href="https://equilaterus.github.io/" target="_blank">equilaterus 2019</a>
  </div>
</nav>

<div class="background">
  <div class="background-content" style="background-image: url(https://images.unsplash.com/photo-1446776877081-d282a0f896e2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a34debf85fb97a6cf279d0b5f661bb1e&auto=format&fit=crop&w=1352&q=80);"></div>
</div>