img {
    max-width: 100%;
    height: auto; 
}

.bg-white-100 {
    background-color: #fcfcfc;
}

#TOC ol {
    line-height: 1.5rem;
}

table {
    width: 100%;
    margin-bottom: 1rem;
    color: #383838;
}