img {
    max-width: 100%;
    height: auto; 
}

.bg-white-100 {
    background-color: #fcfcfc;
}

#TOC ol {
    line-height: 1.5rem;
}

table {
    width: 100%;
    margin-bottom: 1rem;
    color: #383838;
}

table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dad8d8;
}
table td, table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dad8d8;
}

blockquote {
    background-color: #41a0eb !important;
    padding: 0.25rem !important;
    color: #fff !important;
    font-size: 1.25rem;
    margin-bottom: 1rem;
}
