<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}

        <br/>
        <ul class="post-list">
          {% for p in site.pages %}
            {% if p.menu == "wiki" %}
            <li><a class="post-link" href="{{ p.url | prepend: site.baseurl }}">{{ p.title }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
