<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <div class="m-navbar-side-left-lg"  aria-label="Content" id="main-content">      
      <!--CONTENT_BEGIN-->
      <div class="container bg-white-100 shadow">
        <div class="row">
          <div class="col-md-8 p-5">
            {{ content }}
          </div>   
          <div class="col-md-4 pt-5 pr-5" id="TOC">            
          </div>
        </div>
      </div>
      <!--CONTENT_END-->
    </div>

    {%- include footer.html -%}

  </body>

</html>
